<div *ngIf="color" class="modal-body">
  <div class="row">
    <div class="col-12 col-md-5 pb-3 pb-md-0">
      <div class="card">
        <div
          class="card--color__header card--color--type__standard card-color--type__standard d-flex justify-content-end align-items-end m-4"
          [ngStyle]="{ 'background-color': color.symbol }"
        >
          <div class="card--color--type__container m-2">
            <div
              class="card-color--type--symbol d-flex justify-content-center align-items-center"
            >
              <p class="m-0">{{ color.category }}</p>
            </div>
          </div>
        </div>
        <div class="px-4">
          <h3 class="m-0">{{ color.name }}</h3>
          <p class="text-muted font-weight-light">
            #{{ color.token_id }} • {{ categoryName }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-body">
          <h3>Create Auction</h3>
          <div class="row py-4">
            <div class="col-12 col-md-6">
              <label>Minimum Price</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="1"
                  aria-label="minimum price"
                />
                <div class="input-group-append">
                  <span class="input-group-text">tez</span>
                </div>
              </div>
              <label>Auction Duration</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="1"
                  aria-label="auction duration"
                />
                <div class="input-group-append">
                  <span class="input-group-text">hrs</span>
                </div>
              </div>
            </div>
          </div>
          <button (click)="createAuction()" type="button" class="btn btn-light">
            Create Auction
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
