.colors__c {
  color: #ffbf00;
}
.colors__o {
  color: #ff2800;
}
.colors__l {
  color: #de5246;
}
.colors__o__2nd {
  color: #2887c8;
}
.colors__r {
  color: #1aa260;
}
.colors__s {
  color: #fb9912;
}
.card--container__standard,
.card--color--type__standard {
  .card--header--symbol,
  .card--color--type__container {
    border-radius: 50%;
  }
  .card--header {
    background-color: var(--standard);
  }
  .card--header--symbol,
  .card-color--type--symbol {
    color: var(--standard);
  }
}
.card--container__epic,
.card--color--type__epic {
  .card--header--symbol,
  .card--color--type__container {
    border-radius: 50%;
    border-top-left-radius: 0;
  }
  .card--header {
    background-color: var(--epic);
  }
  .card--header--symbol,
  .card-color--type--symbol {
    color: var(--epic);
  }
}
.card--container__legendary,
.card--color--type__legendary {
  .card--header--symbol,
  .card--color--type__container {
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card--header {
    background-color: var(--legendary);
  }
  .card--header--symbol,
  .card-color--type--symbol {
    color: var(--legendary);
  }
}
.card--header--symbol__container {
  position: relative;
  top: -40px;
}
.card--header--symbol {
  width: 80px;
  height: 80px;
}
.card--color__header {
  height: 164px;
  border-radius: 16px;
}
.card--color--type__container {
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.08),
    0 80px 160px 0 rgba(0, 0, 0, 0.04);
}
.card--header--symbol {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.08),
    0 80px 160px 0 rgba(0, 0, 0, 0.04);
}
.card-color--type--symbol {
  height: inherit;
}

.auctions--decorator__1,
.auctions--decorator__2 {
  position: absolute;
  z-index: -1;
}
.auctions--decorator__1 {
  left: 1rem;
  padding-bottom: 1rem;
}
.auctions--decorator__2 {
  right: 0;
  padding-top: 6rem;
}
.explore--container {
  background: url('/assets/explore-bg.svg') no-repeat center;
  min-height: 25vh;
  background-size: contain;
}

.how-it-works__container {
  .card-body {
    padding: 0;
  }
  .card__initial {
    transform: scale(0.7) skew(-8deg, 6deg);
  }
  .card_auction {
    transform: scale(0.7) skew(8deg, -6deg);
  }
}
