<div class="py-md-5 my-5">
  <h1>
    Unique
    <b
      ><span class="colors__c">c</span><span class="colors__o">o</span
      ><span class="colors__l">l</span><span class="colors__o__2nd">o</span
      ><span class="colors__r">r</span><span class="colors__s">s</span></b
    >
    as <b>NFT tokens</b> on Tezos
  </h1>
  <h1>one of each in existence</h1>
  <h1>three categories</h1>
</div>
<div class="row py-5">
  <div class="col-12 col-md-4 pb-3 pb-md-0">
    <div class="card card--container__common">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Common</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">C</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3>1578</h3>
        <p class="text-muted font-weight-light m-0">Available in</p>
        <h3><b>2d 5h 2min</b></h3>
        <app-countdown [endDate]="'Feb 01 2021 00:00:00'"></app-countdown>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 pb-3 pb-md-0">
    <div class="card card--container__rare">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Rare</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">R</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3>88</h3>
        <p class="text-muted font-weight-light m-0">Available in</p>
        <h3><b>2d 5h 2min</b></h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 pb-3 pb-md-0">
    <div class="card card--container__epic">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Epic</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">E</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3>24</h3>
        <p class="text-muted font-weight-light m-0">Available in</p>
        <h3><b>2d 5h 2min</b></h3>
      </div>
    </div>
  </div>
</div>
<div
  class="row justify-content-center align-items-center py-5 my-5 explore--container"
>
  <div class="col-12">
    <h1 class="text-center">
      1690 unique
      <b
        ><span class="colors__c">c</span><span class="colors__o">o</span
        ><span class="colors__l">l</span><span class="colors__o__2nd">o</span
        ><span class="colors__r">r</span><span class="colors__s">s</span></b
      >
      in three categories
    </h1>
  </div>
  <div class="col-12 col-md-3">
    <button type="button" class="btn btn-block btn-light" routerLink="/explore">
      Explore
    </button>
  </div>
</div>
<div class="pt-5 pb-3">
  <h3>Open Auctions - <b>401</b></h3>
</div>
<div class="row pb-5 mb-5">
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #ffbf00"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Amber</h3>
        <p class="text-muted font-weight-light">#3291 • Common • tz12M…214x</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__rare card-color--type__rare d-flex justify-content-end align-items-end m-4"
        style="background-color: #ff2800"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">R</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Ferrari Red</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__epic card-color--type__epic d-flex justify-content-end align-items-end m-4"
        style="background-color: #de5246"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">E</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Google Chrome Red</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common card-color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #2887c8"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Green-blue (Crayola)</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common card-color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #b95754"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Amber</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common card-color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #b95754"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Amber</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div
    class="col-12 col-md-3 py-3 d-flex align-items-center justify-content-center"
  >
    <div class="auctions--decorator__1">
      <svg
        width="98px"
        height="98px"
        viewBox="0 0 98 98"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          fill-opacity="0.48"
          stroke-opacity="0.04"
        >
          <g
            id="Landing-Copy-2"
            transform="translate(-1058.000000, -1446.000000)"
            fill="#2887C8"
            stroke="#000000"
          >
            <g
              id="Group-3-Copy-3"
              transform="translate(1048.000000, 1290.000000)"
            >
              <path
                d="M11,157 L59,157 C85.509668,157 107,178.490332 107,205 L107,205 C107,231.509668 85.509668,253 59,253 L59,253 C32.490332,253 11,231.509668 11,205 L11,157 Z"
                id="Rectangle"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="auctions--decorator__2">
      <svg
        width="92px"
        height="92px"
        viewBox="0 0 92 92"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <polygon id="path-1" points="0 0 96 0 96 96 0 96"></polygon>
        </defs>
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g
            id="Landing-Copy-2"
            transform="translate(-1268.000000, -1507.000000)"
          >
            <g id="square" transform="translate(1268.000000, 1507.000000)">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="0"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="8"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="16"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="64"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="16"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="56"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="24"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="32"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="16"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="40"
                y="88"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="40"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="48"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="72"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="56"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="64"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="72"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="24"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="64"
                width="4"
                height="4"
                rx="2"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="80"
                y="88"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="0"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="8"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="16"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="24"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="32"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="40"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="48"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="56"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="64"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="72"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="80"
                width="4"
                height="4"
              ></rect>
              <rect
                id="Rectangle"
                fill="#FFBF00"
                mask="url(#mask-2)"
                x="88"
                y="88"
                width="4"
                height="4"
              ></rect>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <button
      type="button"
      class="btn btn-block btn-light mx-3"
      routerLink="/auctions"
    >
      View all open auctions
    </button>
  </div>
</div>
<div class="pt-5 pb-3 mt-5">
  <h3>FAQ</h3>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <accordion>
      <accordion-group heading="What are NFTs?">
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Another group">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Another group">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Another group">
        <p>Some content</p>
      </accordion-group>
    </accordion>
  </div>
</div>
