<div class="py-5">
  <h1>
    Unique
    <b
      ><span class="colors__c">c</span><span class="colors__o">o</span
      ><span class="colors__l">l</span><span class="colors__o__2nd">o</span
      ><span class="colors__r">r</span><span class="colors__s">s</span></b
    >
    as <b>NFT tokens</b> on Tezos
  </h1>
  <h1>one of each in existence</h1>
  <h1>three categories</h1>
</div>
<div class="row py-5">
  <div class="col-12 col-md-4">
    <div class="card card--container__common">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Common</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">C</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3>2400</h3>
        <p class="text-muted font-weight-light m-0">Available in</p>
        <h3><b>2d 5h 2min</b></h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card card--container__rare">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Rare</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">R</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3>800</h3>
        <p class="text-muted font-weight-light m-0">Available in</p>
        <h3><b>2d 5h 2min</b></h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card card--container__epic">
      <div class="card--header card-img-top text-center pt-3 pb-5">
        <h3 class="text-light py-3">Epic</h3>
      </div>
      <div
        class="card--header--symbol__container d-flex justify-content-center"
      >
        <div
          class="card--header--symbol d-flex justify-content-center align-items-center"
        >
          <h1 class="m-0">E</h1>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <p class="text-muted font-weight-light m-0">Colors</p>
        <h3>120</h3>
        <p class="text-muted font-weight-light m-0">Available in</p>
        <h3><b>2d 5h 2min</b></h3>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pb-3">
  <h3>Open Auctions - 401</h3>
</div>
<div class="row">
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #ffbf00"
      >
        <div class="card--color--type__container m-2">
          <div class="d-flex justify-content-center align-items-center">
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Amber</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__rare card-color--type__rare d-flex justify-content-end align-items-end m-4"
        style="background-color: #ff2800"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">R</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Ferrari Red</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__epic card-color--type__epic d-flex justify-content-end align-items-end m-4"
        style="background-color: #de5246"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">E</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Google Chrome Red</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common card-color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #2887c8"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Green-blue (Crayola)</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 py-3">
    <div class="card">
      <div
        class="card--color__header card--color--type__common card-color--type__common d-flex justify-content-end align-items-end m-4"
        style="background-color: #b95754"
      >
        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">C</p>
          </div>
        </div>
      </div>
      <div class="px-4">
        <h3 class="m-0">Amber</h3>
        <p class="text-muted font-weight-light">#3291</p>
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">0.1 tez</h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <h3 class="m-0 font-weight-light">12:12:00</h3>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">tz12M…214x</p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
        <div class="p-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="0.1 tez"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button type="button" class="btn btn-light">Bid</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
