<div class="pt-md-5 my-5">
  <div class="row my-3 align-items-center">
    <div class="col-12 pb-3 pb-md-0">
      <h3 class="m-md-0 mr-md-3 pb-3 pb-md-0">Stats</h3>
    </div>
  </div>
</div>
<div class="row py-5">
  <div class="col-12 col-md-5">
    <h1>
      tzcolors users created a total of
      <strong>{{ stats.count.total }}</strong> transactions and spent
      <strong>{{
        stats.fee.total
          | amountConverter
            : {
                decimals: 6,
                symbol: 'tez'
              }
          | async
      }}</strong>
      on fees.
    </h1>
  </div>
</div>

Create auctions: {{ stats.count.create_auction }} Bids:
{{ stats.count.bid }} Claims: {{ stats.count.withdraw }}

<br /><br />The most expensive color sold:

<br />Overall:
<ng-container *ngIf="stats.highestSale.total">
  {{ stats.highestSale.total.name }}
  {{
    stats.highestSale.total.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>
<br />Legendary:
<ng-container *ngIf="stats.highestSale.legendary">
  {{ stats.highestSale.legendary.name }}
  {{
    stats.highestSale.legendary.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>
<br />Epic:
<ng-container *ngIf="stats.highestSale.epic">
  {{ stats.highestSale.epic.name }}
  {{
    stats.highestSale.epic.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>
<br />Standard:
<ng-container *ngIf="stats.highestSale.standard">
  {{ stats.highestSale.standard.name }}
  {{
    stats.highestSale.standard.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>

<br />
<br />The cheapest color sold: <br />Overall:
<ng-container *ngIf="stats.lowestSale.total">
  {{ stats.lowestSale.total.name }}
  {{
    stats.lowestSale.total.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>
<br />Legendary:
<ng-container *ngIf="stats.lowestSale.legendary">
  {{ stats.lowestSale.legendary.name }}
  {{
    stats.lowestSale.legendary.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>
<br />Epic:
<ng-container *ngIf="stats.lowestSale.epic">
  {{ stats.lowestSale.epic.name }}
  {{
    stats.lowestSale.epic.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>
<br />Standard:
<ng-container *ngIf="stats.lowestSale.standard">
  {{ stats.lowestSale.standard.name }}
  {{
    stats.lowestSale.standard.bidAmount
      | amountConverter
        : {
            decimals: 6,
            symbol: 'tez'
          }
      | async
  }}
</ng-container>

<br /><br />The colors with the most bids:

<br />Overall:
<ng-container *ngIf="stats.maxNumberOfBids.total">
  {{ stats.maxNumberOfBids.total.name }}
  {{ stats.maxNumberOfBids.total.bidCount }}
</ng-container>
<br />Legendary:
<ng-container *ngIf="stats.maxNumberOfBids.legendary">
  {{ stats.maxNumberOfBids.legendary.name }}
  {{ stats.maxNumberOfBids.legendary.bidCount }}
</ng-container>
<br />Epic:
<ng-container *ngIf="stats.maxNumberOfBids.epic">
  {{ stats.maxNumberOfBids.epic.name }}
  {{ stats.maxNumberOfBids.epic.bidCount }}
</ng-container>
<br />Standard:
<ng-container *ngIf="stats.maxNumberOfBids.standard">
  {{ stats.maxNumberOfBids.standard.name }}
  {{ stats.maxNumberOfBids.standard.bidCount }}
</ng-container>

<!--
  Show number of colors per account
  Show distribution of amounts paid
  Total number of tez paid for colors
  Biggest gains? (price bought vs price sold)
  Number of colors sold per day
-->

<div class="row py-5">
  <div class="col-12 col-md-5">
    <p>More stats coming soon...</p>
  </div>
</div>
<!-- <div class="row py-5">
  <div class="col-12 col-md-5">
    <h3 class="m-0">22,038</h3>
    <p class="text-muted font-weight-light pb-3">
      Total Auction House Transactions
    </p>
    <div class="row align-items-center pb-3">
      <div class="col-6">
        <p class="text-muted font-weight-light m-0">
          Auction House Transactions
        </p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-light btn-sm mr-1">7 days</button>
        <button type="button" class="btn btn-light btn-sm mr-1">30 days</button>
        <button type="button" class="btn btn-light btn-sm">All</button>
      </div>
    </div>
    <div class="chart__container" #txRef>
      <ngx-charts-line-chart
        [results]="totalTransactions"
        [view]="[txRef.offsetWidth, 300]"
        [scheme]="colorScheme"
        [xAxis]="true"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
  <div class="col-12 col-md-5 offset-md-2">
    <h3 class="m-0">22,038</h3>
    <p class="text-muted font-weight-light pb-3">Total Volume</p>
    <div class="row align-items-center pb-3">
      <div class="col-6">
        <p class="text-muted font-weight-light m-0">Auction House Volume</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-light btn-sm mr-1">7 days</button>
        <button type="button" class="btn btn-light btn-sm mr-1">30 days</button>
        <button type="button" class="btn btn-light btn-sm">All</button>
      </div>
    </div>
    <div class="chart__container" #txRef>
      <ngx-charts-line-chart
        [results]="totalVolume"
        [view]="[txRef.offsetWidth, 300]"
        [scheme]="colorScheme"
        [xAxis]="true"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
</div> -->
