<div class="pt-md-5 my-5">
  <h3 class="mb-5">My Staking</h3>
  <div class="row">
    <div class="col-12 col-md-2">
      <h1>41.23 <span class="font-weight-lighter ml-1">PRISM</span></h1>
      <p>Weekly Rewards</p>
    </div>
    <div class="col-12 col-md-2">
      <h1>41.23 <span class="font-weight-lighter ml-1">PRISM</span></h1>
      <p>Total accumulated rewards</p>
    </div>
    <div class="col-12 col-md-2">
      <h1>5 / 10</h1>
      <p>tzcolors staked</p>
    </div>
  </div>
</div>
<app-color-card-list
  [title]="'My Colors'"
  [emptyText]="
    'You don\'t have any color artworks yet! Head over to the auctions to get some.'
  "
  [count$]="colorsCount$"
  [colors$]="colors$"
></app-color-card-list>
