<div class="pt-md-5 my-5">
  <div class="row my-3 align-items-center">
    <div
      class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center pb-3 pb-md-0"
    >
      <h3 class="m-md-0 mr-md-3 pb-3 pb-md-0">
        {{ title }} -
        <strong>{{ count$ | async }}</strong>
      </h3>
      <div *ngIf="category$ | async as category">
        <button
          (click)="setCategory(category, 'all')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'all' ? 'btn-dark' : 'btn-light'"
        >
          All
        </button>
        <button
          (click)="setCategory(category, 'standard')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'standard' ? 'btn-dark' : 'btn-light'"
        >
          Standard
        </button>
        <button
          (click)="setCategory(category, 'epic')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'epic' ? 'btn-dark' : 'btn-light'"
        >
          Epic
        </button>
        <button
          (click)="setCategory(category, 'legendary')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'legendary' ? 'btn-dark' : 'btn-light'"
        >
          Legendary
        </button>
      </div>
    </div>
    <div class="col-12 col-md-4 offset-0 offset-md-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="search"
          [(ngModel)]="searchString"
          (keydown)="textInput($event)"
        />
      </div>
    </div>
  </div>
  <div class="row my-3">
    <ng-container *ngIf="sortDirection$ | async as sortingDirection">
      <div
        *ngIf="sortType$ | async as sortingType"
        class="col-12 col-md-6 offset-0 offset-md-6 d-flex justify-content-end advanced-search__container"
      >
        <button
          (click)="[sortType('name'), sortDirection(sortingDirection, 'asc')]"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="sortingType === 'name' ? 'btn-dark' : 'btn-light'"
        >
          <fa-icon
            [icon]="faSortAlphaDown"
            *ngIf="sortingType === 'name' && sortingDirection === 'asc'"
          ></fa-icon>

          <fa-icon
            [icon]="faSortAlphaUp"
            *ngIf="sortingType === 'name' && sortingDirection === 'desc'"
          ></fa-icon>
          <span>Name</span>
        </button>
        <button
          (click)="[sortType('price'), sortDirection(sortingDirection, 'desc')]"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="sortingType === 'price' ? 'btn-dark' : 'btn-light'"
        >
          <fa-icon
            [icon]="faSortAmountUp"
            *ngIf="sortingType === 'price' && sortingDirection === 'asc'"
          ></fa-icon>

          <fa-icon
            [icon]="faSortAmountDown"
            *ngIf="sortingType === 'price' && sortingDirection === 'desc'"
          ></fa-icon>
          <span>Price</span>
        </button>
        <button
          (click)="[sortType('time'), sortDirection(sortingDirection, 'asc')]"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="sortingType === 'time' ? 'btn-dark' : 'btn-light'"
        >
          <fa-icon
            [icon]="faSortAmountUp"
            *ngIf="sortingType === 'time' && sortingDirection === 'asc'"
          ></fa-icon>

          <fa-icon
            [icon]="faSortAmountDown"
            *ngIf="sortingType === 'time' && sortingDirection === 'desc'"
          ></fa-icon>
          <span>Time</span>
        </button>
        <button
          (click)="clearFilters()"
          type="button"
          class="btn btn-light btn-sm"
        >
          Clear Filters
        </button>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <ng-container *ngIf="true; then content; else empty"></ng-container>
</div>
<ng-template #content>
  <div *ngFor="let color of colors$ | async" class="col-12 col-md-3 py-3">
    <app-color-card-item [color]="color"></app-color-card-item></div
></ng-template>
<ng-template #empty>{{ emptyText }}</ng-template>
<div *ngIf="showMoreButton | async" class="row my-5 justify-content-center">
  <div class="col-12 col-md-3">
    <button
      type="button"
      class="btn btn-block btn-light"
      (click)="showMoreItems()"
    >
      Load more
    </button>
  </div>
</div>
