<div class="pt-md-5 my-5">
  <div class="row my-3 align-items-center">
    <div
      class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center pb-3 pb-md-0"
    >
      <h3 class="m-md-0 mr-md-3 pb-3 pb-md-0">
        {{ title }}
        <span>- {{ count$ | async }}</span>
      </h3>
      <div>
        <button
          (click)="setCategory('standard')"
          type="button"
          class="btn btn-light btn-sm mr-3"
        >
          Standard
        </button>
        <button
          (click)="setCategory('epic')"
          type="button"
          class="btn btn-light btn-sm mr-3"
        >
          Epic
        </button>
        <button
          (click)="setCategory('legendary')"
          type="button"
          class="btn btn-light btn-sm mr-3"
        >
          Legendary
        </button>
      </div>
    </div>
    <div class="col-12 col-md-4 offset-0 offset-md-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="search"
          [(ngModel)]="searchString"
          (keydown)="textInput($event)"
        />
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div
      class="col-12 col-md-6 offset-0 offset-md-6 d-flex justify-content-end"
    >
      <button
        (click)="[sortType('price'), sortDirection('desc')]"
        type="button"
        class="btn btn-light btn-sm mr-3"
      >
        Sort Price
      </button>
      <button
        (click)="[sortType('time'), sortDirection('asc')]"
        type="button"
        class="btn btn-light btn-sm mr-3"
      >
        Sort Time
      </button>
      <button
        (click)="sortDirection('asc')"
        type="button"
        class="btn btn-light btn-sm mr-3"
      >
        ASC
      </button>
      <button
        (click)="sortDirection('desc')"
        type="button"
        class="btn btn-light btn-sm mr-3"
      >
        DESC
      </button>
      <button
        (click)="clearFilters()"
        type="button"
        class="btn btn-light btn-sm"
      >
        Clear Filters
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-3 py-3" *ngFor="let color of colors$ | async">
    <app-color-card-item [color]="color"></app-color-card-item>
  </div>
</div>
<div *ngIf="showMoreButton | async" class="row my-5 justify-content-center">
  <div class="col-12 col-md-3">
    <button
      type="button"
      class="btn btn-block btn-light"
      (click)="showMoreItems()"
    >
      Load more
    </button>
  </div>
</div>
