<div class="container p-0">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand text-dark" href="#" routerLink="">tzcolors</a>
    <button
      class="hamburger hamburger--spring navbar-toggler p-0 d-md-none"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
      [class.is-active]="!isCollapsed"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/explore"
            >Explore</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/auctions"
            >Auctions</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/my-colors"
            >My Colors</a
          >
        </li>

        <li class="nav-item ml-3">
          <button
            *ngIf="!(connectedWallet$ | async)"
            (click)="connectWallet()"
            class="btn btn-light btn-rounded"
          >
            Connect Wallet
          </button>

          <div class="btn-group" dropdown *ngIf="connectedWallet$ | async">
            <button
              id="button-animated"
              dropdownToggle
              type="button"
              class="btn btn-light"
              aria-controls="dropdown-animated"
            >
              <h1 class="text-success d-inline-block align-bottom m-0 mr-1">
                •
              </h1>
              {{ (connectedWallet$ | async)?.address! | shorten }}
            </button>
            <ul
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-animated"
            >
              <li role="menuitem">
                <a class="dropdown-item" (click)="openBlockexplorer()">
                  Open Blockexplorer
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="disconnectWallet()">
                  Disconnect Wallet
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item m-3">
          <div class="btn-group" dropdown>
            <button
              id="button-animated"
              dropdownToggle
              type="button"
              aria-controls="dropdown-animated"
              class="btn btn-light btn-circle"
            >
              <fa-icon [icon]="faCog"></fa-icon>
            </button>
            <ul
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-animated"
            >
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  (click)="togglDogVision()"
                  title="Dogvision"
                >
                  <fa-icon [icon]="faDog"></fa-icon
                  ><span class="ml-2"> Dog Vision </span>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item disabled">
                  <fa-icon [icon]="faSun"></fa-icon
                  ><span class="ml-2">Dark Mode</span>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item disabled">
                  <fa-icon [icon]="faMoon"></fa-icon
                  ><span class="ml-2">Light Mode</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
