<div class="container p-0">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand text-dark" href="#" routerLink=""
      >tzcolors<small class="text-muted ml-1">A Tezos NFT Experiment</small></a
    >
    <button
      class="hamburger hamburger--spring navbar-toggler p-0 d-md-none"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
      [class.is-active]="!isCollapsed"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/explore"
            >Explore</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/auctions"
            >Auctions</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/activity"
            >Activity</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/staking"
            >Staking</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/watchlist"
            >Watchlist</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="#"
            routerLinkActive="active"
            routerLink="/my-colors"
            >My Colors</a
          >
        </li>

        <li class="nav-item ml-3 profile--container">
          <button
            *ngIf="!(connectedWallet$ | async)"
            (click)="connectWallet()"
            class="btn btn-light btn-rounded"
          >
            Connect Wallet
          </button>

          <div class="btn-group" dropdown *ngIf="connectedWallet$ | async">
            <button
              id="button-animated"
              dropdownToggle
              type="button"
              class="btn btn-light"
              aria-controls="dropdown-animated"
            >
              <h1 class="text-success d-inline-block align-bottom m-0 mr-1">
                •
              </h1>
              {{ (connectedWallet$ | async)?.address! | shorten }}
            </button>
            <ul
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-animated"
            >
              <li role="menuitem">
                <a class="dropdown-item" (click)="openBlockexplorer()">
                  Open Blockexplorer
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="disconnectWallet()">
                  Disconnect Wallet
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item m-3">
          <div class="btn-group" dropdown>
            <button
              id="button-animated"
              dropdownToggle
              type="button"
              aria-controls="dropdown-animated"
              class="btn btn-light btn-circle"
            >
              <fa-icon [icon]="['fas', 'cog']"></fa-icon>
            </button>
            <ul
              id="dropdown-animated"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-animated"
            >
              <li role="menuitem" class="mb-2">
                <a
                  class="dropdown-item"
                  href="#"
                  routerLinkActive="active"
                  routerLink="/stats"
                >
                  <span> Statistics </span>
                </a>
              </li>
              <div class="pb-2 px-4">
                <strong>Theme</strong>
              </div>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  (click)="togglDogVision()"
                  title="Dogvision"
                >
                  <fa-icon [icon]="['fas', 'dog']"></fa-icon
                  ><span class="ml-2"> Dog Vision </span>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item disabled">
                  <fa-icon [icon]="['far', 'moon']"></fa-icon
                  ><span class="ml-2">Dark Mode</span>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item disabled">
                  <fa-icon [icon]="['far', 'sun']"></fa-icon
                  ><span class="ml-2">Light Mode</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--
<div class="container">
  <alert type="warning">
    <strong>API instability</strong> Due to an API issue it can occur that
    auctions are temporarily not displayed correctly. We are looking into it and
    try to resolve this <strong>Frontend issue</strong> as soon as possible.
  </alert>
</div>
-->
