<div *ngIf="color" class="modal-body">
  <div class="row">
    <div class="col-12 col-md-5 pb-3 pb-md-0">
      <app-color-card-item
        [color]="color"
        [isModal]="true"
      ></app-color-card-item>
    </div>
    <div class="col-12 col-md-7">
      <div class="card mb-3" *ngIf="history">
        <div class="card-body">
          <ng-container>
            <h3 class="mb-3">Bids - {{ history.bids.length }}</h3>
            <p class="text-muted" *ngIf="!history.bids.length">
              There are no bids so far.
            </p>
            <!--TDOO: show up to 5 then display load more button-->
            <ng-container *ngFor="let item of history.bids">
              <div class="row align-items-center">
                <div class="col col-md-6">
                  <h5 class="mb-0">
                    {{
                      item.bid_amount
                        | amountConverter
                          : {
                              decimals: 6,
                              symbol: 'tez'
                            }
                        | async
                    }}
                  </h5>
                  <p class="text-muted m-0">
                    <a
                      (click)="openAddress(item.bidder_id)"
                      href
                      class="text-muted"
                      target="_blank"
                    >
                      {{ item.bidder_id | shorten }}
                    </a>
                  </p>
                </div>
                <div class="col col-md-6 text-right">
                  <p class="m-0 text-muted">{{ item.timestamp | amTimeAgo }}</p>
                </div>
              </div>
              <hr />
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!history"> No auction in progress </ng-container>
        </div>
      </div>
      <div *ngIf="previousAuctionGraph.length > 0" class="card">
        <div class="card-body">
          <h3 class="mb-5">Previous Auctions</h3>
          <div class="chart__container" #containerRef>
            <ngx-charts-line-chart
              [results]="previousAuctionGraph"
              [view]="[containerRef.offsetWidth, 96]"
              [scheme]="colorScheme"
              [xAxis]="true"
            >
            </ngx-charts-line-chart>
          </div>
          <div class="pt-5">
            <accordion>
              <accordion-group *ngFor="let auction of previousAuctions">
                <button
                  class="btn btn-link btn-block clearfix px-0"
                  accordion-heading
                >
                  <div class="pull-left float-left text-left">
                    <h5 class="mb-0">
                      <ng-container *ngIf="auction.bids.length > 0">
                        {{
                          auction.bids[0].bid_amount
                            | amountConverter
                              : {
                                  decimals: 6,
                                  symbol: 'tez'
                                }
                            | async
                        }}
                      </ng-container>

                      <ng-container *ngIf="auction.bids.length === 0"
                        >Not Sold</ng-container
                      >
                    </h5>
                    <p class="text-muted m-0">
                      {{
                        auction.ask_price
                          | amountConverter
                            : {
                                decimals: 6,
                                symbol: 'tez'
                              }
                          | async
                      }}
                    </p>
                  </div>
                  <p class="m-0 text-muted float-right pull-right">
                    {{ auction.end_timestamp | amTimeAgo }}
                  </p>
                </button>
                <h5 class="mb-4">Bids - {{ auction.bids.length }}</h5>
                <ng-container *ngIf="auction.bids.length === 0">
                  No bids
                </ng-container>
                <ng-container *ngIf="auction.bids.length > 0">
                  <div
                    *ngFor="let bid of auction.bids"
                    class="row align-items-center pb-4"
                  >
                    <div class="col col-md-6">
                      <h5 class="mb-0">
                        {{
                          bid.bid_amount
                            | amountConverter
                              : {
                                  decimals: 6,
                                  symbol: 'tez'
                                }
                            | async
                        }}
                      </h5>
                      <p class="text-muted m-0">
                        <a href class="text-muted" target="_blank">
                          <a
                            (click)="openAddress(bid.bidder_id)"
                            href
                            class="text-muted"
                            target="_blank"
                          >
                            {{ bid.bidder_id | shorten }}
                          </a>
                        </a>
                      </p>
                    </div>
                    <div class="col col-md-6 text-right">
                      <p class="m-0 text-muted">
                        {{ bid.timestamp | amTimeAgo }}
                      </p>
                    </div>
                  </div>
                </ng-container>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
