<div class="container">
  <div class="row py-5">
    <div class="col-12 d-flex align-items-center pb-1">
      <a
        href="https://twitter.com/tzcolors"
        class="nav-link text-dark pl-0"
        target="_blank"
        >Twitter</a
      >
      <a
        href="https://t.me/tzcolors"
        class="nav-link text-dark pl-0"
        target="_blank"
        >Telegram</a
      >
    </div>
    <div class="col">
      <p class="m-0">
        Built by members of the <a href="https://airgap.it">AirGap</a> team.
      </p>
      <small
        >Disclaimer: tzcolors and the color artworks are used as an experiment
        to showcase the tooling of the Tezos ecosystem like Beacon, Taquito,
        SmartPy etc.</small
      >
    </div>
  </div>
</div>
