<h3 class="m-0 font-weight-light" *ngIf="timeDifference && timeDifference <= 0">
  Expired
</h3>
<ng-container *ngIf="timeDifference && timeDifference > 0">
  <h3 class="m-0" *ngIf="!shortTimeFormat">
    <strong>
      <span> {{ daysToDday }}</span
      >d <span> {{ hoursToDday }}</span
      >h <span> {{ minutesToDday }}</span
      >min <span> {{ secondsToDday }}</span
      >s
    </strong>
  </h3>
  <h3 class="m-0 font-weight-light" *ngIf="shortTimeFormat">
    <ng-container *ngIf="daysToDday > 0">
      {{ daysToDday | number: '2.0' }}:</ng-container
    >
    <ng-container *ngIf="hoursToDday > 0">
      {{ hoursToDday | number: '2.0' }}:</ng-container
    >
    <ng-container *ngIf="minutesToDday > 0"
      >{{ minutesToDday | number: '2.0' }}:</ng-container
    >
    <ng-container *ngIf="secondsToDday > 0">{{
      secondsToDday | number: '2.0'
    }}</ng-container>
  </h3>
</ng-container>
