<div *ngIf="color" class="card h-100">
  <div class="card-body d-flex flex-column">
    <div
      class="card--color__header m-4 d-flex justify-content-between"
      [ngStyle]="{ 'background-color': color.symbol }"
      [ngClass]="{
        'card--color--type__standard': color.category === 'standard',
        'card--color--type__epic': color.category === 'epic',
        'card--color--type__legendary': color.category === 'legendary'
      }"
    >
      <button
        *ngIf="!isModal"
        type="button"
        (click)="openHistoryModal()"
        class="btn btn-light btn-sm align-self-end btn__favorite m-2"
      >
        <span class="px-1">
          Details
          <fa-icon class="ml-1" [icon]="['far', 'window-restore']"></fa-icon>
        </span>
      </button>
      <div class="d-flex flex-column justify-content-between align-items-end">
        <button
          [ngClass]="{ btn__favorite: !color.isFavorite, '': color.isFavorite }"
          type="button"
          (click)="toggleFavorite()"
          class="btn btn-light btn-sm m-2"
        >
          <fa-icon *ngIf="color.isFavorite" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon *ngIf="!color.isFavorite" [icon]="['far', 'star']"></fa-icon>
        </button>

        <div class="card--color--type__container m-2">
          <div
            class="card-color--type--symbol d-flex justify-content-center align-items-center"
          >
            <p class="m-0">{{ color.category | slice: 0:1 | uppercase }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 d-flex flex-column">
      <h3 class="m-0">{{ color.name }}</h3>
      <p class="text-muted font-weight-light">
        #{{ color.token_id }} • {{ color.category | titlecase }}
      </p>
      <ng-container *ngIf="state === 'free'">
        <div class="row py-2">
          <div class="col">
            <p class="font-weight-light text-muted">
              This NFT is not owned by anyone yet.
            </p>
            <p class="font-weight-light text-muted">
              Bid on it to start the auction.
            </p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="state === 'auction'">
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">
              {{
                color.auction?.bidAmount
                  | amountConverter
                    : {
                        decimals: 6,
                        symbol: 'tez'
                      }
                  | async
              }}
            </h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <app-countdown
              [endDate]="color.auction?.endTimestamp!"
              [shortTimeFormat]="true"
              (countdownReached)="auctionOverEvent()"
            ></app-countdown>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">
          <ng-container *ngIf="color.auction?.bidder! === ownAddress">
            <span class="text-primary">You</span>
            •
          </ng-container>
          <a
            class="text-dark"
            (click)="openAddress(color.auction?.bidder!)"
            href
            target="_blank"
          >
            {{ color.auction?.bidder! | shorten }}
          </a>
        </p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
      </ng-container>

      <ng-container *ngIf="state === 'owned'">
        <p class="m-0 font-weight-light">
          {{ color?.owner! | shorten }}
        </p>
        <p class="text-muted font-weight-light m-0">Owner</p>
      </ng-container>

      <ng-container *ngIf="state === 'claim'">
        <div class="row py-2">
          <ng-container
            *ngIf="
              color.auction!.bidder === ownAddress &&
              color.auction!.seller === ownAddress
            "
          >
            <div *ngIf="color.auction!.bidder === ownAddress" class="col">
              <p class="font-weight-light text-muted">
                Sadly, your color wasn't sold.
              </p>
              <p class="font-weight-light text-muted">
                Claim it and try again!
              </p>
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              color.auction!.bidder !== ownAddress ||
              color.auction!.seller !== ownAddress
            "
          >
            <div *ngIf="color.auction!.bidder === ownAddress" class="col">
              <p class="font-weight-light text-muted">
                Congratulations on your new color!
              </p>
              <p class="font-weight-light text-muted">
                Claim it first to your wallet to fully own it and be able to
                create a new auction.
              </p>
            </div>
            <div *ngIf="color.auction!.seller === ownAddress" class="col">
              <p class="font-weight-light text-muted">
                Congratulations, your color was sold!
              </p>
              <p class="font-weight-light text-muted">
                Claim your reward to your wallet.
              </p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="mt-auto">
      <ng-container *ngIf="state === 'auction'">
        <div class="p-4 mx-4 pt-5">
          <div class="input-group">
            <input
              [ngStyle]="{ display: color.loading ? 'none' : '' }"
              [disabled]="color.loading"
              type="number"
              class="form-control"
              [(ngModel)]="bidAmount"
              aria-label="Amount"
              step="0.1"
              [min]="minBidAmount"
            />
            <span class="input-group-prepend">
              <button
                [disabled]="color.loading"
                (click)="bid()"
                type="button"
                class="btn btn-light"
              >
                <span
                  *ngIf="color.loading"
                  class="spinner-border spinner-border-sm mr-1"
                  role="status"
                  aria-hidden="true"
                ></span>
                {{ color.loading ? 'Waiting for confirmation...' : 'Bid' }}
              </button>
            </span>
          </div>
        </div>
      </ng-container>

      <div class="p-4" *ngIf="state != 'auction'">
        <ng-container *ngIf="state === 'claim'">
          <button
            [disabled]="color.loading"
            (click)="claim()"
            type="button"
            class="btn btn-block btn-light"
          >
            <span
              *ngIf="color.loading"
              class="spinner-border spinner-border-sm mr-1"
              role="status"
              aria-hidden="true"
            ></span>
            {{ color.loading ? 'Waiting for confirmation...' : 'Claim' }}
          </button>
        </ng-container>
        <ng-container *ngIf="state === 'own'">
          <button
            [disabled]="color.loading"
            (click)="openAuctionModal()"
            type="button"
            class="btn btn-block btn-light"
          >
            <span
              *ngIf="color.loading"
              class="spinner-border spinner-border-sm mr-1"
              role="status"
              aria-hidden="true"
            ></span>
            {{
              color.loading ? 'Waiting for confirmation...' : 'Create Auction'
            }}
          </button>
        </ng-container>

        <ng-container *ngIf="state === 'free'">
          <button
            [disabled]="color.loading"
            (click)="createInitialAuction()"
            type="button"
            class="btn btn-block btn-light"
          >
            <span
              *ngIf="color.loading"
              class="spinner-border spinner-border-sm mr-1"
              role="status"
              aria-hidden="true"
            ></span>
            <span
              [innerHtml]="
                color.loading
                  ? 'Waiting for confirmation...'
                  : 'Start Auction - <strong>1 tez</strong>'
              "
            ></span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
