<div *ngIf="color" class="card h-100">
  <div class="card-body d-flex flex-column">
    <div
      class="card--color__header d-flex justify-content-end align-items-end m-4"
      [ngStyle]="{ 'background-color': color.symbol }"
      [ngClass]="{
        'card--color--type__standard': color.category === 'standard',
        'card--color--type__epic': color.category === 'epic',
        'card--color--type__legendary': color.category === 'legendary'
      }"
    >
      <div class="card--color--type__container m-2">
        <div
          class="card-color--type--symbol d-flex justify-content-center align-items-center"
        >
          <p class="m-0">{{ color.category | slice: 0:1 | uppercase }}</p>
        </div>
      </div>
    </div>
    <div class="px-4 d-flex flex-column">
      <h3 class="m-0">{{ color.name }}</h3>
      <p class="text-muted font-weight-light">
        #{{ color.token_id }} • {{ categoryName }}
      </p>
      <ng-container *ngIf="!isOwned && !color.auction">
        <div class="row py-2">
          <div class="col">
            <p class="font-weight-light text-muted">
              This NFT is not owned by anyone yet.
            </p>
            <p class="font-weight-light text-muted">
              Bid on it to start the auction.
            </p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="color.auction">
        <div class="row py-2">
          <div class="col">
            <h3 class="m-0 font-weight-light">
              {{
                color.auction.bidAmount
                  | amountConverter
                    : {
                        decimals: 6,
                        symbol: 'tez'
                      }
                  | async
              }}
            </h3>
            <p class="text-muted font-weight-light">Price</p>
          </div>
          <div class="col text-right">
            <app-countdown
              [endDate]="color.auction.endTimestamp.toString()"
              [shortTimeFormat]="true"
              (countdownReached)="auctionOverEvent()"
            ></app-countdown>
            <p class="text-muted font-weight-light">Time Left</p>
          </div>
        </div>
        <p class="m-0 font-weight-light">
          {{ color.auction.bidder | shorten }}
        </p>
        <p class="text-muted font-weight-light m-0">Highest Bidder</p>
      </ng-container>
    </div>
    <div class="mt-auto">
      <ng-container *ngIf="color.auction">
        <div class="p-4 mx-4 pt-5" *ngIf="!isOver">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="bidAmount"
              [placeholder]="color.auction.bidAmount"
              aria-label="Amount"
            />
            <span class="input-group-prepend">
              <button (click)="bid()" type="button" class="btn btn-light">
                Bid
              </button>
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isOver">
        <div class="p-4">
          <button
            (click)="claim()"
            type="button"
            class="btn btn-block btn-light"
          >
            Claim
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="color.owner">
        <div class="p-4">
          <button
            (click)="openAuctionModal()"
            type="button"
            class="btn btn-block btn-light"
          >
            Create Auction
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!color.owner && !color.auction">
        <div class="p-4">
          <button
            (click)="createInitialAuction()"
            type="button"
            class="btn btn-block btn-light"
          >
            Bid <strong>0.2 tez</strong>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
