<div *ngIf="color" class="card h-100">
  <div
    class="card--color__header d-flex justify-content-end align-items-end m-4"
    [ngStyle]="{ 'background-color': color.symbol }"
    [ngClass]="{
      'card--color--type__common': color.category === 'common',
      'card--color--type__rare': color.category === 'rare',
      'card--color--type__epic': color.category === 'epic'
    }"
  >
    <div class="card--color--type__container m-2">
      <div
        class="card-color--type--symbol d-flex justify-content-center align-items-center"
      >
        <p class="m-0">{{ color.category }}</p>
      </div>
    </div>
  </div>
  <div class="px-4">
    <h3 class="m-0">{{ color.name }}</h3>
    <p class="text-muted font-weight-light">
      #{{ color.token_id }} • {{ categoryName }}
    </p>
    <ng-container *ngIf="isAuction && auction">
      <div class="row py-2">
        <div class="col">
          <h3 class="m-0 font-weight-light">{{ auction.bidAmount }}</h3>
          <p class="text-muted font-weight-light">Price</p>
        </div>
        <div class="col text-right">
          <h3 class="m-0 font-weight-light">
            <app-countdown
              [endDate]="auction.endTimestamp.toString()"
              [shortTimeFormat]="true"
            ></app-countdown>
          </h3>
          <p class="text-muted font-weight-light">Time Left</p>
        </div>
      </div>
      <p class="m-0 font-weight-light">{{ auction.bidder | shorten }}</p>
      <p class="text-muted font-weight-light m-0">Highest Bidder</p>
      <div class="p-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="bidAmount"
            [placeholder]="auction.bidAmount"
            aria-label="Amount"
          />
          <span class="input-group-prepend">
            <button (click)="bid()" type="button" class="btn btn-light">
              Bid
            </button>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isOwned">
      <div class="p-4">
        <button
          *ngIf="isOwned"
          (click)="openAuctionModal()"
          type="button"
          class="btn btn-block btn-light"
        >
          Create Auction
        </button>
      </div>
    </ng-container>
  </div>
</div>
