.dog{
    * {
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: grayscale(100%);
        transition: filter 2s;
    }
}

.normal{
    * {
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: none;
        filter: grayscale(0%);
        transition: filter 2s;
    }
}