<div class="pt-md-5 my-5">
  <h3 class="mb-5">
    <span class="font-weight-lighter ml-1">PRISM</span> Staking
  </h3>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body my-3">
          <div class="mb-5">
            <h1>
              <strong>41.23</strong>
              <span class="font-weight-lighter ml-1">PRISM</span>
            </h1>
            <p class="m-0">Total Supply</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body my-3">
          <div class="mb-5">
            <h1>5 / 1690</h1>
            <p class="m-0">tzcolors staked</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body my-3">
          <div class="mb-5">
            <h1>40'000 <span class="font-weight-lighter ml-1">PRISM</span></h1>
            <p class="m-0">Weekly distribution</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
