<div class="by-5 my-5">
  <div class="row my-3 align-items-center">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <h3 class="m-0 d-inline-block mr-3">Explore</h3>
      <button type="button" class="btn btn-light btn-sm mr-3">Common</button>
      <button type="button" class="btn btn-light btn-sm mr-3">Rare</button>
      <button type="button" class="btn btn-light btn-sm mr-3">Epic</button>
    </div>
    <div class="col-12 col-md-4 offset-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="search"
        />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
  <div class="col-12 col-md-3 py-3">
    <app-color-card-item></app-color-card-item>
  </div>
</div>
