<div class="pt-md-5 my-5">
  <h3 class="m-md-0 mr-md-3 pb-3 pb-md-0">Activity</h3>
</div>
<div class="my-5 row">
  <div class="col col-md-6">
    <div class="card mb-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div
            class="color--container d-inline-block"
            style="background-color: rgb(255, 68, 102)"
          ></div>
          <div class="pl-3">
            <h5 class="m-0">Magic Potion</h5>
            <small class="text-muted font-weight-light m-0"
              >#3432 • Standard</small
            >
          </div>
        </div>
        <div>
          <h6 class="m-0">
            <a class="text-dark" href target="_blank"> tz1dx...RGhpN </a>
            <strong>bid</strong> 10.5 tez
          </h6>
        </div>
        <p class="text-muted m-0">1 min ago</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div
            class="color--container d-inline-block"
            style="background-color: rgb(0, 255, 127)"
          ></div>
          <div class="pl-3">
            <h5 class="m-0">Guppie green</h5>
            <small class="text-muted font-weight-light m-0"
              >#3432 • Standard</small
            >
          </div>
        </div>
        <div>
          <h6 class="m-0">
            <a class="text-dark" href target="_blank"> tz1dx...RGhpN </a>
            created a <strong>new auction</strong>
          </h6>
        </div>
        <p class="text-muted m-0">1 min ago</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div
            class="color--container d-inline-block"
            style="background-color: rgb(255, 68, 102)"
          ></div>
          <div class="pl-3">
            <h5 class="m-0">Magic Potion</h5>
            <small class="text-muted font-weight-light m-0"
              >#3432 • Standard</small
            >
          </div>
        </div>
        <div>
          <h6 class="m-0">
            <a class="text-dark" href target="_blank"> tz1dx...RGhpN </a>
            <strong>bid</strong> 10.5 tez
          </h6>
        </div>
        <p class="text-muted m-0">1 min ago</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div
            class="color--container d-inline-block"
            style="background-color: rgb(255, 68, 102)"
          ></div>
          <div class="pl-3">
            <h5 class="m-0">Magic Potion</h5>
            <small class="text-muted font-weight-light m-0"
              >#3432 • Standard</small
            >
          </div>
        </div>
        <div>
          <h6 class="m-0">
            <a class="text-dark" href target="_blank"> tz1dx...RGhpN </a>
            <strong>bid</strong> 10.5 tez
          </h6>
        </div>
        <p class="text-muted m-0">1 min ago</p>
      </div>
    </div>
  </div>
</div>
