<div class="pt-md-5 my-5">
  <div class="row my-3 align-items-center">
    <div
      class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center pb-3 pb-md-0"
    >
      <h3 class="m-md-0 mr-md-3 pb-3 pb-md-0">Activity</h3>
      <div *ngIf="category$ | async as category">
        <button
          (click)="setCategory(category, 'all')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'all' ? 'btn-dark' : 'btn-light'"
        >
          All
        </button>
        <button
          (click)="setCategory(category, 'standard')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'standard' ? 'btn-dark' : 'btn-light'"
        >
          Standard
        </button>
        <button
          (click)="setCategory(category, 'epic')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'epic' ? 'btn-dark' : 'btn-light'"
        >
          Epic
        </button>
        <button
          (click)="setCategory(category, 'legendary')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'legendary' ? 'btn-dark' : 'btn-light'"
        >
          Legendary
        </button>
      </div>
    </div>
  </div>
</div>
<div class="my-5 row">
  <div class="col col-md-10">
    <div class="card mb-3" *ngIf="activities.length === 0">
      <div class="card-body">
        <p *ngIf="!hasLoaded">Loading...</p>
        <p *ngIf="hasLoaded">No recent activity that match your filters.</p>
      </div>
    </div>
    <div class="card mb-3" *ngFor="let item of activities">
      <div class="card-body">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-4 pb-3 pb-md-0 d-flex align-items-center color--details__container"
            (click)="openHistoryModal(item.color)"
          >
            <div
              class="color--container d-inline-block"
              [ngStyle]="{ 'background-color': item.color.symbol }"
            ></div>
            <div class="pl-3">
              <h5 class="m-0">{{ item.color.name }}</h5>
              <small class="text-muted font-weight-light m-0"
                >#{{ item.color.token_id }} •
                {{ item.color.category | titlecase }}</small
              >
            </div>
          </div>
          <div class="col-12 col-md-6 pb-3 pb-md-0">
            <h6 class="m-0">
              <a
                (click)="openAddress(item.source)"
                href
                class="text-dark"
                target="_blank"
              >
                {{ item.source | shorten }}
              </a>
              <ng-container *ngIf="item.event === 'BID'">
                <strong>bid</strong>
              </ng-container>
              <ng-container *ngIf="item.event === 'CREATE_AUCTION'">
                created a
                <strong>new auction</strong>
                with the starting price of
              </ng-container>
              <ng-container *ngIf="item.event === 'WITHDRAW'">
                <ng-container
                  *ngIf="
                    item.source === item.color.owner &&
                    item.source === item.color.auction?.seller
                  "
                >
                  <strong>claimed</strong> their unsold color for
                </ng-container>
                <ng-container
                  *ngIf="
                    !(
                      item.source === item.color.owner &&
                      item.source === item.color.auction?.seller
                    )
                  "
                >
                  <ng-container *ngIf="item.source === item.color.owner">
                    <strong>won</strong> the auction and claimed the color for
                  </ng-container>
                  <ng-container
                    *ngIf="item.source === item.color.auction?.seller"
                  >
                    <strong>sold</strong> a color and claimed
                  </ng-container>
                </ng-container>
              </ng-container>
              {{
                item.amount
                  | amountConverter
                    : {
                        decimals: 6,
                        symbol: 'tez'
                      }
                  | async
              }}<span *ngIf="item.endDate"
                >, with auction ending {{ item.endDate | amTimeAgo }}</span
              >
            </h6>
          </div>
          <div class="col-12 col-md-2 text-md-right">
            <p class="text-muted m-0">{{ item.timestamp | amTimeAgo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
