/* Manrope font imports*/
@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-regular.woff) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-light.woff) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-bold.woff) format('truetype');
  font-weight: 600;
}

$font-family-sans-serif: 'Manrope', sans-serif;
$font-size-base: 14;
$h1-font-size: 30px;

$theme-color-common: #417505;

/* custom colors */
$theme-colors: (
  'primary': #2c7df7,
  'common': $theme-color-common,
  'rare': #4a90e2,
  'epic': #9013fe,
);

$border-radius: 8px;
$card-border-color: rgba(0, 0, 0, 0.04);
$box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.08),
  0 80px 160px 0 rgba(0, 0, 0, 0.04);
$btn-box-shadow: 0 2px 4px 0 rgba(44, 39, 56, 0.08),
  0 4px 8px 0 rgba(44, 39, 56, 0.08);
$card-border-radius: 24px;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: map_get($theme-colors, 'primary');
$nav-tabs-link-active-bg: none;
$input-line-height: 2;
$input-font-weight: 600;
$input-font-size: 18px;
$input-border-color: #dbe2ea;
$input-border-radius: $border-radius;
$input-group-addon-bg: #fff;
$input-btn-focus-box-shadow: none;
$btn-line-height: 2.5;
$btn-border-radius: $border-radius;
$card-spacer-x: 1.5rem;
$dropdown-link-active-bg: rgba(map_get($theme-colors, 'primary'), 0.54);

.container {
  max-width: 1400px !important;
}

.card,
.dropdown-menu {
  box-shadow: $box-shadow;
}
.btn,
.input-group {
  box-shadow: $btn-box-shadow;
}

.input-group {
  border-radius: $border-radius;
}

.input-group-prepend .btn {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';
